.git
.venv
venv
env
__pycache__
*.pyc
*.pyo
mysql_dataa
video_dataset
video_storage
android
csv_dataset
diagrama
docs
README.md
connect_db.bat
.vscode
.idea
*.mp4
*.avi
*.csv
# Extensiile noi pentru a bloca transferul modelelor grele la build:
*.h5
*.keras
*.pkl
*.npy