db_gitignore.txt
__pycache__/
*.pyc
.venv/
.env
src/.dockerignore
# Python
__pycache__/
*.pyc

# AI / ML
*.h5
*.pkl
*.pt
*.npy

# Datasets
*.csv

# Videos
*.mp4

# MySQL
mysql_data/
ib_logfile*
ibtmp1

# Logs
*.log

# IDE
.vscode/

# Env
.env

src/extractKP/csv/*.csv
src/extractKP/train/*.csv