
venv/
.venv/
env/

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/


.vscode/
.idea/


.git/
.gitignore



.env
*.log


build/
dist/
*.egg-info/

.git
.venv
venv
env
__pycache__
*.pyc
*.pyo
.vscode
.idea
*.mp4
*.avi
*.csv
mysql_data